.add-item-page-body-name {
  display: flex;
  align-items: center;
}

.add-item-page-body span {
  font-size: 20px;
  font-weight: 450;
  margin-right: 10px;
}

.add-item-page-body input {
  border-radius: 5px;
}
