.login {
  height: calc(100vh - 70px);
}

.login-form {
  width: 33vw;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.login-header {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 90vw !important;
  }
}
