.login {
  height: calc(100vh - 70px);
}

.login-form {
  width: 33vw;
  padding: 1rem 2rem;
  border-radius: 10px;

  background: #b993d6;
  background: -webkit-linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(140, 166, 219),
    rgb(185, 147, 214)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-header {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 90vw !important;
  }
}
