* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
}

h4,
h5 {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
}

body {
  overflow-x: hidden;
}

.bg-light-mode {
  background: #e9ebee;
}

.bg-dark-mode {
  background: black;
}

.bg-blue {
  background: #00b4ff !important;
}

.bg-light-card {
  background: #fefeff;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.bg-dark-card {
  background: #454545;
  border: 1px solid #00b4ff;
  box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.3);
  color: #fefeff !important;
}

.bg-dark-card a {
  color: #fefeff !important;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 100% !important;
  }
}
